header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

header::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(../assets/img/icons/header.svg);
}

header h1 {
    text-align: center;

}

header img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 3px solid #353434;
}

.information {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.information p {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: .5rem;
    font-size: 1.25rem;
}

.information p::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: .5rem;
}

.information .job::before {
    background-image: url('../assets/img/icons/job.svg');
}

.information .location::before {
    background-image: url('../assets/img/icons/location.svg');
}

.information .email::before {
    background-image: url('../assets/img/icons/email.svg');
}

.information .phone::before {
    background-image: url('../assets/img/icons/phone.svg');
}

.acordeon {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    border: 1px solid #fff;
    border-radius: 1rem;
    transition: .4s;
}

.acordeon.open, .acordeon:hover {
    background-color: #55569E;
    border-color: #55569E;
}

.acordeon .trigger {
    font-weight: 700;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: transparent;
    color: #fff;
    border: none;
}

.acordeon .trigger h2 {
    font-size: 1.5rem;
    margin: 0;
    text-align: start;
}

.acordeon .trigger:hover {
    cursor: pointer;
}

.acordeon .trigger::after {
    content: '';
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../assets/img/icons/arrow-top.svg');
    transform: rotate(180deg);
    transition: .4s;
}


.acordeon.open .trigger::after {
    transform: rotate(0);
}

.acordeon.open .content {
    display: inline-block;
}

.acordeon .content {
    overflow: hidden;
    height: 0;
    opacity: 0;
    transition: .4s ease-in-out;
}

.acordeon.open .content {
    display: block;
    height: auto;
    opacity: 1;
    padding: 0 1rem 1rem 2rem;
}

.languages {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.languages li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
}

.languages li::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../assets/img/icons/check.svg');
    margin-right: .5rem;
}

.portifolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

.portifolio li {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 1rem 0;
}

.portifolio li h3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
}

.portifolio li h3.github::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../assets/img/icons/github.svg');
    margin-right: .5rem;
}

.experience {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
}

.experience li {
    margin-bottom: 1rem;
}

.experience li .period {
    display: flex;
    flex-direction: row;
}

.experience li .period::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../assets/img/icons/calendar.svg');
    margin-right: .5rem;
}

.skills {
    display: flex;
    flex-direction: column;
}

.skills .hard-skills ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 90%;
}

.skills .hard-skills ul li img {
    width: 3rem;
    margin: 0 .5rem;
}

.skills .soft-skills ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.skills .soft-skills ul li {
    margin-right: 1.5rem;
    padding: .5rem;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
}

footer img {
    max-width: 100px;
}
